@media only screen and (min-width: 600px) {
  .adminDetailsBody {
    margin-left: 20%;
  }

  .adminDetailsTitle {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: space-around;
    margin: 5%
  }

  .adminDetailsStatus {
    color: rgb(196, 135, 3);
    font-weight: 900;
  }

  .adminDetailsGreen {
    color: green;
  }

  .adminDetailsContainer {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 5px 3px rgba(50, 50, 50, 0.77);
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
    margin: 1% 10%;
    padding: 4px 0;
    text-decoration: none;
    width: 85%;
  }

  .adminDetailsPrice {
    font-weight: bolder;
  }

  .adminDetailsTotal {
    color: rgb(196, 135, 3);
    font-size: 40px;
    font-weight: bold;
    padding: 0 10% 0 0;
    text-align: end;
    margin-top: 3%;
  }

  .adminDetailsButton {
    background-color: rgb(196, 135, 3);
    border-radius:5px;
    font-size: 18px;
    height: 50px;
    margin: 10% 35%;
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .adminDetailsBody {
    margin-top: 25%;
  }

  .adminDetailsTitle {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-around;
    margin: 5%
  }

  .adminDetailsStatus {
    color: rgb(196, 135, 3);
    font-weight: 900;
  }

  .adminDetailsGreen {
    color: green;
  }

  .adminDetailsContainer {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 5px 3px rgba(50, 50, 50, 0.77);
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-around;
    margin: 2% 3%;
    padding: 4px 0;
    text-decoration: none;
    width: 94%;
  }

  .adminDetailsPrice {
    font-weight: bolder;
  }

  .adminDetailsTotal {
    color: rgb(196, 135, 3);
    font-size: 25px;
    font-weight: bold;
    padding: 0 10% 0 0;
    text-align: end;
    margin-top: 5%;
  }

  .adminDetailsButton {
    background-color: rgb(196, 135, 3);
    border-radius:5px;
    font-size: 18px;
    height: 50px;
    margin: 10%;
    width: 80%;
  }
}