@media only screen and (min-width: 600px) {
  .admProfileBody {
    margin-left: 15%;
  }

  .admProfileTitle {
    color: rgb(196, 135, 3);
  	font-family: Roboto;
  	font-size: 34px;
    line-height: 42px;
    margin-top: 5%;
  	padding: 0 0 0 60px;
  	text-align: center;
  }

  .admProfileLabel {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 7% 10%;
  }

  .admProfileLabelDate {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 600px) {
  .admProfileBody {
    margin-top: 35%;
  }

  .admProfileTitle {
    color: rgb(196, 135, 3);
  	font-family: Roboto;
  	font-size: 34px;
    line-height: 42px;
  	text-align: center;
  }

  .admProfileLabel {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 20% 10%;
  }

  .admProfileLabelDate {
    padding: 0 5%;
  }
}