.div-container-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vmax;
}

.btn-checkout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    border-radius: 30px;
    padding-left: 16px;
    border: none;
    width: 80% !important;
    height: 40px;
    margin-bottom: 15px;
    background-color: #D75B49;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    height: 170px;
    width: 170px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(128, 125, 125);
}

.round-btn {
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #D75B49;
    border: 0;
    height: 30px;
    width: 30px;
    color:white;
}

.grey-text {
    color: gray;
    margin: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}

.checkout-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 20px;
    background-color: white;
    color: gray;
}

.address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}