.Products {
  background-image: url('../../images/mobBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
}

.card {
  background-color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 172px; */
  margin: 2%;
  padding: 1%;
  text-align: center;
  width: 161px;
}

.cardBottom {
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}

.checkoutBtn {
  align-items: center;
  background-color: darkgreen;
  background-image: url('../../images/images.jpeg');
  background-size: cover;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: x-large;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  padding: 2%;
  width: 37%;
  margin: auto;
  cursor: pointer;
  position: sticky;
  bottom: 3%;

  /* position:fixed */
 }

.checkoutLink {
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
  padding: 1%;
}

.maisOuMenos {
  background-color: white;
  border-color: darkgreen;
  border-radius: 100%;
  border-width: 3px;
  color: black;
  margin: 3%;
  padding: 4%;
  font-size: large;
}


@media screen and ( min-width : 300px ) and ( max-width : 569px ) {

  .card {
    width: 42%;
  }
  .card img {
    /* height: 40%; */
    /* padding: 1%; */
  }
  .checkoutBtn{
    width: 73%;
  }

}