.menu-superior{
	background: blue;
	position: fixed;
	top:0;
	width:100%;
}

#check {
	display: none;
}

.top-hamburguer {
	align-self: center;
	background:blue;
	box-shadow:0px;
	color: white;
	display:inline-block;
	font-size: 25px;
	padding: 15px;
	position: fixed;
	transition:color linear 1s;
	z-index: 1;
}

.top-title {
	text-align: center;
	color: white;
	font-family: Roboto;
	font-size: 25px;
	line-height: 25px;
}

.side-menu-container {
	background: blue;
	height:100%;
  left: -40%;
  display: none;
	position: fixed;
	transition:all 1s linear;
	width: 20%;
}

.side-menu {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.btn-menu {
	display: flex;
	flex-direction: column;
}

nav a{
	text-decoration: none;
}

.btn-side {
	background: purple;
	border-radius:5px;
	color:rgb(255, 255, 255);
	font-size: 25px;
	margin: 10%;
	padding: 10%;
}

.btn-side:hover{
	background: blue;
}