body {
  margin: 0;
}
.menu-superior {
  width: 100%;
  margin: 0;
  background-color: #D75B49
}
#check {
  display: none;
}
.top-hamburguer {
  align-self: center;
  color: #FFB266;
  float: left;
  transition: color linear 0.2s;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  z-index: 3;
}
.top-title {
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 42px;
}
.side-menu-container {
  background: #D75B49;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.3s linear;
  width: 40%;
  z-index:ind 3;
}

.side-menu-container-2 {
  background: #D75B49;
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.3s linear;
  width: 10%;
  z-index:ind 3;
}

.side-menu-container-changed {
  background: #D75B49;
}
.side-menu {
  background-color: #D75B49;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
.btn-menu {
  display: flex;
  flex-direction: column;
}
nav a{
  text-decoration: none;
}
.btn-side {
  background: #D75B49;
  border-radius:5px;
  color: white;
  font-size: 18px;
  margin: 5%;
  padding: 5%;
}
.btn-side:hover{
  background: #D75B49;
}
