body {
  height: 100%;
  margin: 0;
}

.login {
  background-image: url(../image/bebidas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
  display: flex;
	flex-direction: column;
}

.label {
  align-self: center;
  display: flex;
  color: white;
  flex-direction: column;
  width: 80%;
  padding: 0;
  margin: 0;
}

.input {
  background: white;
  height: 25%;
}