.order-card {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-evenly;
 background-color: white;
 width: 50%;
 margin-top: 30px;
 border-radius: 5px;
 box-shadow: 10px 10px 5px rgb(128, 125, 125);
 padding-left: 20px;

}

.order-link {
  color: gray;
  text-decoration: none;
}
