.detailsHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  font-size: larger;
}
.orderTitle {
  font-size: xx-large;
}

.total {
  font-weight: bold;
}