.orderDetailsPage {
  background-image: url('../../images/newBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  font-size: larger;
}
.orderTitle {
  font-size: xx-large;
}

.total {
  font-weight: bold;
}

.pedido {
  margin-bottom: 20%;
}