.title {
  margin-left: 3%;
  padding: 1%;
}

.sideBar-admin aside {
  height: auto;
  margin: 0;
  flex-grow: 1;
  /* flex-flow: column;
  height: 100vh; */
  overflow: auto;
}

.sideBar-admin {
  background-color: black;
  color: white;
  /* float: left; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  padding: 3%;
  /* position: absolute; */
  text-decoration: none;
  width: 33%;
  z-index: 1;
}

.menuBtnAdmin {
  color: white;
  text-decoration: none;
  padding: 2%;
}

ul {
  list-style-type: none;
}

Link {
  color: white;
  text-decoration: none;
  padding: 2%;
}

.footer {
  margin: 0;
}