.orders-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.orders-big-container {
    display: flex;
    flex-direction: column;
    height: 100vmax;
    width: 100%;
}

.order-card-size {
    width: 50% !important;
}

.order-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px !important;
}

.order-link {
    width: 100%;
}