.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vmax;
}

.yellow-background {
    background-color: #FFB266;
}

.beer-background {
    background-image: url("../images/backgroundLogin.png");
    background-position: center;
    background-size: cover;

}

.div-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.checkbox-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vmax;
    width: 100%;
}
.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-bottom: 40px;
}

.white-text {
    color: white !important;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.input-layout {
    font-size: 1rem !important;
    border-radius: 30px !important;
    padding-left: 16px !important;
    border: none !important;
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
  }

.btn-style {
    font-size: 1rem;
    border-radius: 30px;
    padding-left: 16px;
    border: none;
    width: 60% !important;
    height: 40px;
    margin-bottom: 15px;
    background-color: #D75B49;
  }


.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vmax;
    background-color: brown;
  }
  
  
.container {
    text-align: center;
    min-height: 50vmax;
    padding-bottom: 32px;
}
  
.btn , .btn:focus {
  background-color: brown;
}