.header {
  align-items: center;
  background-image: url('../../images/menuBg.jpg');
  background-size: cover;
  box-shadow: 0 7px 7px rgba(83, 77, 77, 0.47);
  border-radius: 3px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-around;
  width: 100%;
}

.logoHeader {
  height: 90px;
}

.burguerBtn {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1%;
  padding: 1%;
}

.title {
  margin-left: 3%;
  padding: 1%;
}

.sideBar {
  background-image: url('../../images/menuBg.jpg');
  background-size: cover;
  color: black;
  float: left;
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  /* margin-top: 100px; */
  /* position: fixed; */
  padding: 2%;
  position: absolute;
  text-decoration: none;
  /* transform: translateX(-30rem); */
  width: 17%;
  z-index: 1;
}
/* .sideBar.open {
  transform: translateX(0);
} */ 
.menuBtn {
  color: black;
  text-decoration: none;
  margin-bottom: 7%;
  padding: 1%;
  font-size: larger;
}

ul {
  list-style-type: none;
}

Link {
  color: black;
  text-decoration: none;
  padding: 2%;
}

@media screen and ( min-width : 300px ) and ( max-width : 569px ) {

  .sideBar {
    width: 57%;;
  }

}
