header {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#div-principal {
  height: 100vh;
}

.Products, .orders, .ProfilePage, .Checkout, .loginpage, .admin-main, .Orders, .profile-admin, .profile-admin, .pedido, .sideBar-admin {
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}